html, body{
    background-image: linear-gradient(to bottom, white, rgb(179, 179, 179)); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
    margin: 0; 
}

.NewArrivals{
    display: flex;
    position: absolute;
    top: 38%;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgb(253, 0, 0),rgb(253, 95, 95));
    justify-content: center;
    color: white;
}

.Logo{
    display: flex;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 100px;
    width: 63px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.FreeDelivery{
    display: flex;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 34%;
    left: 25%;
}

.ShoppingCart{
    display: flex;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 24%;
    left: 80%;
}

.BackButton{
    display: flex;
    position: absolute;
    width: 100px;
    height:30px;
    top:55%;
    background-color: red;
    color: white;
    font-size: large;
    border-radius: 17px;
    justify-content: center;
    left: 0%;
    padding-top: 10px;
    
}

.BackButton:hover{
    display: flex;
    position: absolute;
    width: 100px;
    height:30px;
    top:55%;
    background-color: rgb(255, 230, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 17px;
    justify-content: center;
    left: 0%;
    padding-top: 10px;
    
}

.BackButton a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.SamsungS22Image{
    display: flex;
    position:absolute;
    top: 60%;
    left: 18%;
    }
    
    .SamsungS22Image img{
    border: 10px solid rgb(209, 209, 209);
    border-radius: 10px;
    }
    
    .SamsungS22Description{
        display: flex;
        position: absolute;
        top: 90%;
        right: 6%;
        justify-content: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        white-space: nowrap;
        color: black;
        font-style: bold;
            height: 25px;
            width: 375px;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
    }

    .Price13{
        display: flex;
        position: absolute;
        top: 82%;
        right: 15%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: rgb(255, 255, 255);
        font-style: bold;
            height: 25px;
            width: 55px;
            background-color: rgb(255, 0, 0);
            border-radius: 10px;
            justify-content: center;
            vertical-align: center;
    }

    .GalaxyTabImage{
        display: flex;
        position:absolute;
        top: 60%;
        right:18%;
        justify-content: center;
        }
            
        .GalaxyTabImage img{
        border: 10px solid rgb(218, 218, 218);
        border-radius: 10px;
        
        }
        
        .GalaxyTabDescription{
            display: flex;
            position: absolute;
            top:90%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            white-space: nowrap;
            color: black;
            font-style: bold;
                 height: 25px;
                width: 355px;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
        }
        .Price10{
            display: flex;
            position: absolute;
            top: 82%;
            right: 15%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            color: rgb(255, 255, 255);
            font-style: bold;
                height: 25px;
                width: 55px;
                background-color: rgb(255, 0, 0);
                border-radius: 10px;
                justify-content: center;
                vertical-align: center;
        }

        .IPad12Image{
            display: flex;
            position:absolute;
            top: 120%;
            right:18%;
            justify-content: center;
            }
                
            .IPad12Image img{
            border: 10px solid rgb(219, 219, 219);
            border-radius: 10px;
            
            }
            
            .Ipad12Description{
                display: flex;
                position: absolute;
                top:90%;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: large;
                white-space: nowrap;
                color: black;
                font-style: bold;
                     height: 25px;
                    width: 355px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
            }
            .Price6{
                display: flex;
                position: absolute;
                top: 82%;
                right: 15%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: large;
                color: rgb(255, 255, 255);
                font-style: bold;
                    height: 25px;
                    width: 55px;
                    background-color: rgb(255, 0, 0);
                    border-radius: 10px;
                    justify-content: center;
                    vertical-align: center;
            }