html, body{
    background-image: linear-gradient(to bottom, rgb(83, 83, 83), black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; 
    margin: 0; 
}

.YourCart{
    display: flex;
    position:absolute;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(209, 209, 209), rgb(156, 156, 156));
    color: rgb(54, 54, 54);
    border: 5px solid white;
    top: 28%;
    border-radius: 10px;
    
}

.YourCart h1{
position: absolute;
 top: 10%;
 left: 80%;
}

.Logo{
    display: flex;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: 100px;
    width: 63px;
    position: absolute;
    top: 10%;
    left: 10%;
}

.BackButton{
    display: flex;
    position: absolute;
    width: 100px;
    height:30px;
    top:45%;
    background-color: red;
    color: white;
    font-size: large;
    border-radius: 17px;
    justify-content: center;
    left: 0%;
    padding-top: 10px;
    
}

.BackButton:hover{
    display: flex;
    position: absolute;
    width: 100px;
    height:30px;
    top:45%;
    background-color: rgb(255, 230, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 17px;
    justify-content: center;
    left: 0%;
    padding-top: 10px;
    
}

.BackButton a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}